numpy
retrying
requests
scikit-image
scipy
torch
torchvision
tensorflow
tensorboardX
matplotlib
ipython
jupyter
pandas
seaborn

fiona
tqdm

scikit-learn == 1.7.2
pytest
six
Pillow

ipdb

plotly
## jupyter_contrib_nbextensions
## jupyter_nbextensions_configurator
line_profiler
